@use '../dist/fonts.scss';

$color: #4ABCEC;
$colorwhite: #FFFFFF;
.flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}




.button-record {
    background: linear-gradient(180deg, rgba(3, 225, 255, 0.66) 0%, #13CDC2 100%);
    border: 0;
    box-shadow: 0px 7px 20px -7px #00E0FF;
    width: 479px;
    height: 60px;
    border-radius: 9px;
    font-size: 12px;
    font-weight: 750;
    line-height: 14.7px;
    letter-spacing: 0.25em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: $colorwhite;
}
* {
    margin: 0;
    font-family: AvenirNextCyr-Demi;
    text-wrap: pretty;
    // border: 1px solid rgb(213, 2, 167);
}


.container {
    max-width: 1290px;
    // width: 100%;
    padding: 0 300px;
    margin: 0 auto;
}

.background {
    background-size: 100%;
    height: 1500px;
    background-image: url('../dist/images/jpg/fon.jpg');
}


header {
    .logo {
        .logo-text {
            margin-left: 10px;
        }

        img {
            width: 100px;
            height: 100px;
        }

        .logo-name {

            font-size: 18px;
            font-weight: 750;
            line-height: 22.05px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: $color;
        }

        .logo-desc {

            font-size: 18px;
            font-weight: 450;
            line-height: 22.05px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: white;
        }

    }

    .qw {
        box-shadow: 58px 4px 191px 47px #000000 inset;

    }

    .tel {
        max-width: 200px;
        width: 100%;

        a {
            width: 100%;
            text-decoration: none;

            font-size: 18px;
            font-weight: 450;
            line-height: 22.05px;
            text-align: right;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: $colorwhite;
            display: flex;
            justify-content: space-between;
        }
    }
}

main {
    .about-us {

        position: relative;
        margin-top: 168px;

        .about-us__info {
            max-width: 700px;
            width: 100%;
            // height: 730px;

            .about-us__info__welcome {

                font-size: 18px;
                font-weight: 600;
                line-height: 22.05px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                color: #747D81;
            }

            h1 {

                font-size: 108px;
                font-weight: 600;
                line-height: 132.3px;
                text-align: left;
                margin: 18px 0;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                background: -webkit-linear-gradient(#FFFFFF, #1A3031);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            .about-us__info__web {

                font-size: 18px;
                font-weight: 450;
                line-height: 22.05px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                color: $colorwhite;
            }

            .about-us__info__guarantee {
                display: flex;

                .about-us__info__guarantee__certificate {
                    width: 71px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 71px;
                    border: 2px solid #49b8e84a !important;
                    background: linear-gradient(180deg, rgba(0, 224, 255, 0.11) 0%, rgba(0, 224, 255, 0.0539) 100%);
                    border-radius: 12px;
                    border: 2px;
                }
            }

            .about-us__info__guarantee {
                margin-top: 77px;

                .about-us__info__guarantee__text {
                    margin-left: 33px;

                    h3 {

                        font-size: 20px;
                        font-weight: 900;
                        line-height: 22.05px;
                        text-align: left;
                        text-underline-position: from-font;
                        text-decoration-skip-ink: none;
                        color: $colorwhite;

                    }

                    p {

                        font-size: 18px;
                        font-weight: 450;
                        line-height: 20px;
                        margin-top: 10px;
                        text-align: left;
                        text-underline-position: from-font;
                        text-decoration-skip-ink: none;
                        color: #4ABCEC;

                    }
                }
            }

            .about-us__info__footer {
                margin: 101px 0;
            }

            .down {
                position: absolute;
                top: 410px;
                left: 680px;
                display: flex;
                flex-direction: column;
                height: 150px;
                align-items: center;
                justify-content: space-between;

                p {
                    transform: rotate(-90deg);

                    font-size: 10px;
                    font-weight: 600;
                    line-height: 12.25px;
                    letter-spacing: 0.36em;
                    text-align: left;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    color: #747D81;

                }

                .switch {
                    transform: rotate(-90deg);

                    position: relative;
                    display: inline-block;
                    width: 60px;
                    height: 34px;

                    input {
                        opacity: 0;
                        width: 0;
                        height: 0;
                    }

                    .slider {
                        position: absolute;
                        cursor: pointer;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: #ccc;
                        transition: .4s;

                        &:before {
                            position: absolute;
                            content: "";
                            height: 26px;
                            width: 26px;
                            left: 4px;
                            bottom: 3px;
                            box-shadow: 0px 4px 10px 0px #4AD9ECBF;
                            background: #4ABCEC;
                            transition: .4s;
                        }
                    }

                    input:checked+.slider {
                        background-color: #2195f300;
                    }

                    input:focus+.slider {
                        box-shadow: 0 0 1px #2196F3;
                    }

                    input:checked+.slider:before {
                        transform: translateX(26px);
                    }

                    .slider.round {
                        background-color: rgba(255, 0, 0, 0);
                        border-radius: 34px;
                        border: 1px solid #4A8BEC;

                        &:before {
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }

    .consultation {
        position: absolute;
        left: 100px;
        top: 150px;
        display: flex;
        flex-direction: column;
        height: 230px;
        align-items: center;
        justify-content: space-between;

        .consultation-ikon {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            box-shadow: 0px 7px 20px -7px #00E0FF;
            background: linear-gradient(180deg, rgba(3, 225, 255, 0.66) 0%, #13CDC2 100%);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        p {

            font-size: 10px;
            font-weight: 600;
            line-height: 12.25px;
            letter-spacing: 0.36em;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #00E0FF;
            transform: rotate(-90deg);
        }
    }

    .advantages {

        width: 100%;
        height: 800px;
        background: linear-gradient(286.41deg, rgb(2, 35, 53) 3.63%, rgb(12, 55, 61) 90.98%);
        box-shadow: 0 -6px 4px -4px #00E0FF;

        .advantages-main {
            // width: 100%;
            height: 100%;
            padding-top: 124px;

            h2 {

                font-size: 54px;
                font-weight: 450;
                text-align: center !important;
                line-height: 66.15px;
                text-align: left;
                margin-bottom: 58px;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                color: $colorwhite;
                span {

                    font-size: 54px;
                    font-weight: 450;
                    line-height: 66.15px;
                    text-align: left;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    color: rgb(74, 188, 236);
                }
            }

            .advantages-card {
                .advantages-card__row1 {
                    div {

                        background: linear-gradient(180deg, rgba(0, 224, 255, 0.11) 0%, rgba(0, 224, 255, 0.0539) 100%);
                        width: 240px;
                        height: 212px;
                        border-radius: 20px;
                        border: 2px solid #49b8e84a !important;
                        padding-left: 45px;

                        img {
                            margin-top: 39px;
                        }

                        p {

                            font-size: 15px;
                            font-weight: 450;
                            line-height: 18.38px;
                            text-align: left;
                            text-underline-position: from-font;
                            text-decoration-skip-ink: none;
                            color: $colorwhite;
                            margin-top: 15px;
                        }
                    }
                }

                .advantages-card__row2 {
                    margin-top: 25px;

                    div {
                        max-width: 342px;
                        width: 100%;
                        height: 217px;
                        background: linear-gradient(180deg, rgba(0, 224, 255, 0.11) 0%, rgba(0, 224, 255, 0.0539) 100%);
                        border-radius: 20px;
                        border: 2px solid #49b8e84a !important;
                        padding-left: 45px;

                        img {
                            margin-top: 39px;
                        }

                        p {

                            font-size: 15px;
                            font-weight: 450;
                            line-height: 18.38px;
                            text-align: left;
                            text-underline-position: from-font;
                            text-decoration-skip-ink: none;
                            color: $colorwhite;
                            margin-top: 15px;
                        }
                    }
                }
            }
        }
    }

    .ai {

        width: 100%;
        background-size: cover;
        height: 913px;
        background-color: black;
        background-position-y: -120px;
        background-attachment: fixed;
        box-shadow: 0px 0px 110px 14px #000000 inset;
        background-image: url('../dist/images/png/ai_artificial_intelligence_ml_machine_learning_vector_by_kohb_gettyimages_1146634284-100817775-large\ 1.png');

        .ai-content {
            box-shadow: 0 -6px 4px -4px #00E0FF;
            opacity: 1;

            .ai-content__info {

                h2 {
                    padding-top: 117px;
                    margin-bottom: 64px;
                    font-size: 54px;
                    font-weight: 450;
                    line-height: 66.15px;
                    text-align: left;
                    text-transform: uppercase;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    color: $colorwhite;

                    span {
                        font-size: 54px;
                        font-weight: 450;
                        line-height: 66.15px;
                        text-align: left;
                        text-underline-position: from-font;
                        text-decoration-skip-ink: none;
                        color: rgb(74, 188, 236);
                    }
                }

                ul {
                    padding: 0;
                    margin-bottom: 69px;

                    li {
                        list-style: none;
                        display: flex;
                        align-items: start;
                        background: linear-gradient(90deg, rgba(31, 63, 77, 0.53) 52.08%, rgba(31, 75, 94, 0) 100%);
                        padding: 10px;
                        margin-top: 5px;
                        max-width: 624px;
                        width: 100%;

                        p {
                            margin-left: 19px;
                            font-size: 15px;
                            font-weight: 450;
                            line-height: 18.38px;
                            text-align: left;
                            text-underline-position: from-font;
                            text-decoration-skip-ink: none;
                            color: $colorwhite;
                            display: flex;
                            align-items: center;
                        }
                    }
                }

            }

            .ai-content__photo {
                width: 937px;
                height: 625px;
                box-shadow: 0px 0px 110px 14px #000000 inset;
                background-image: url('../dist/images/png/ai_artificial_intelligence_ml_machine_learning_vector_by_kohb_gettyimages_1146634284-100817775-large\ 1.png');
            }
        }
    }

    .important {
        box-shadow: 0 -6px 4px -4px #00E0FF;
        width: 100%;
        height: 809px;
        opacity: 0px !important;
        background: linear-gradient(286.41deg, rgb(1, 25, 37) 3.63%, rgb(12, 61, 68) 90.98%);

        .important-title {
            h2 {
                padding-top: 117px;
                margin-bottom: 64px;
                font-size: 54px;
                font-weight: 450;
                line-height: 66.15px;
                text-align: left;
                text-transform: uppercase;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                color: $colorwhite;

                span {
                    font-size: 54px;
                    font-weight: 450;
                    line-height: 66.15px;
                    text-align: left;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    color: rgb(74, 188, 236);
                }
            }
        }


        .mt46 {
            margin-top: 46px;
        }

        .important-row1 {
            .important-row1__item {
                max-width: 568px;
                width: 100%;

                * {
                    transition: 0.8s;
                }

                &:hover {
                    * {
                        opacity: 1;

                    }
                }

                div {
                    max-width: 285px;
                    width: 100%;
                    opacity: 0.5;
                    height: 203px;
                    border-radius: 20px;
                    background-position: center;
                    background-size: 579px;
                    background-position-x: right;
                    border: 2px solid;
                    border: 2px solid rgba(73, 184, 232, 0.2901960784);
                }

                .item__fon1 {
                    background-image: url('../dist/images/jpeg/import1.jpeg');
                }

                .item__fon2 {
                    background-image: url('../dist/images/jpeg/import2.jpeg');
                }

                .item__fon3 {
                    background-image: url('../dist/images/jpeg/import3.jpeg');
                }

                .item__fon4 {
                    background-image: url('../dist/images/jpeg/import4.jpeg');
                }

                p {
                    margin-left: 20px;
                    font-family: Avenir Next Cyr;
                    font-size: 16px;
                    font-weight: 450;
                    line-height: 23px;
                    text-align: left;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    color: $colorwhite;
                    max-width: 250px;
                    width: 100%;
                }
            }
        }
    }

    .our-course {
        padding-bottom: 110px;
        width: 100%;
        background-position-y: center;
        box-shadow: 0 -6px 4px -4px #00E0FF;
        height: 891px;
        background-image: url('../dist/images/jpg/Фон\ \(1\)\ \(1\).jpg');

        .ai-content__info {
            ul {
                li {
                    background: none !important;
                    // span {
                    //     background: #03E1FF87;

                    //     backdrop-filter: blur(11px) !important;

                    // }
                }
            }
        }

        .fons {
            width: 554px;
            height: 542px;
            position: relative;
            left: 150px;
            background-size: cover;
            background-image: url('../dist/images/svg/Блики.svg');
        }
    }

    .contents {
        max-height: 2182px;
        padding-bottom: 109px;
        height: 100%;
        .accordion-single {
            max-width: 1200px;
            width: 100%;
            border-radius: 6px;
            margin-top: 10px;

            &-title {
                background: linear-gradient(286.41deg, rgba(2, 35, 53, 0.8) 3.63%, rgba(12, 55, 61, 0.8) 90.98%);
                padding: 20px;
                cursor: pointer;
                display: flex;
                align-items: center;
                position: relative;
                font-size: 20px;
                margin: 0;

                div {
                    width: 10px;
                    border-radius: 50%;
                    height: 10px;
                    background: linear-gradient(180deg, #00E0FF 0%, #4A8BEC 100%);
                    box-shadow: 0px 4px 8px 0px #00E0FF8F;
                }

                h3 {
                    font-size: 20px;
                    font-weight: 750;
                    line-height: 21px;
                    text-align: left;
                    margin-left: 16px;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    color: $colorwhite;

                    span {
                        font-size: 18px;
                        font-weight: 450;
                        margin-left: 5px;
                        line-height: 21px;
                        text-align: left;
                        text-underline-position: from-font;
                        text-decoration-skip-ink: none;
                        color: $color;
                    }
                }

                &::after {
                    content: "";
                    position: absolute;
                    right: 25px;
                    top: 50%;
                    transition: all 0.2s ease-in-out;
                    display: block;
                    width: 8px;
                    height: 8px;
                    border-top: solid 2px #4ABCEC;

                    border-right: solid 2px #4ABCEC;
                    transform: translateY(-50%) rotate(135deg);
                }
            }

            &-content {
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.3s ease-in-out;

                ol {
                    list-style-type: none;
                    counter-reset: my-counter;

                    li {
                        display: flex;
                        margin-top: 49px;
                        &:first-child {
                            margin-top: 37px;
                        }
                        &:last-child {
                            margin-bottom: 40px;
                        }
                        &:before {
                            background-color: #4ABCEC;
                            color: #08262B;
                            border-radius: 50%;
                            width: 27px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 27px;
                            content: counter(my-counter);
                            /* Выводим число */
                            counter-increment: my-counter;
                            /* Увеличиваем значение счётчика */
                            margin-right: 0.5em;
                            /* Расстояние от цифры до текста */
                        }

                        div {
                            max-width: 1157px;
                            width: 100%;
                            margin-left: 16px;

                            h4 {
                                font-size: 16px;
                                font-weight: 750;
                                line-height: 21px;
                                text-align: left;
                                text-underline-position: from-font;
                                text-decoration-skip-ink: none;
                                color: $color;
                            }

                            p {
                                font-size: 16px;
                                font-weight: 450;
                                margin-top: 14px;
                                line-height: 21px;
                                text-align: left;
                                text-underline-position: from-font;
                                text-decoration-skip-ink: none;
                                color: $colorwhite;
                            }
                        }
                    }
                }
            }

            &-item {
                &.is-open {
                    .accordion-single-content {
                        max-height: 100%;
                    }

                    .accordion-single-title::after {
                        transform: translateY(-50%) rotate(315deg);
                    }
                }
            }
        }
    }
}